.navbar {
  margin-bottom: 0;
  font-family: "Maven Pro", sans-serif;
  background-color: black;
  color: white;
 
}

.nav-item{
}

.it1{background-color: teal;
margin: auto;float: left;}
.it2{}
.it3{}